@font-face {
  font-family: "FOT-Rodin Pro DB";
  src: url(./resources/fot-rodin-pro-db.otf);
}

:root {
  --primary-color-brighter: hsl(from var(--primary-color) h calc(s * 1.6) calc(l * 1.1));
  --primary-color: #88d2fa;
  --primary-color-darker: #0060ff;
  --secondary-color: #6c5f32;
  --background-color: #171920;
  --lines-color: #002040;

  --soft-overshoot: linear(0, 0.402 7.4%, 0.711 15.3%, 0.929 23.7%, 1.008 28.2%, 1.067 33%, 1.099 36.9%, 1.12 41%, 1.13 45.4%, 1.13 50.1%, 1.111 58.5%, 1.019 83.2%, 1.004 91.3%, 1);
}

body {
  font-family: "FOT-Rodin Pro DB";

  background-color: var(--background-color);
  background-size: 1.6em 100%;
  background-image: repeating-linear-gradient(to right, var(--lines-color) 0, transparent 10%, transparent 90%, var(--lines-color));
  color: var(--primary-color);
  padding: 4vw 1rem 6rem 1rem;
}

h1 {
  position: fixed;
  z-index: 6;
  left: 50%;
  top: 0;
  margin: 0;
  font-size: 3vw;

  transform: translateX(-50%);
  filter: drop-shadow(0 0 4px var(--primary-color-darker));
}

h2 {
  margin: 0;
}

h3 {
  margin: 1rem;
  text-wrap: nowrap;
}

section {
  text-align: center;
  width: 100%;
}

#categoryFilters {

  display: flex;
  /* border-bottom: 1px var(--primary-color-brighter) solid; */
  gap: 1rem;
  padding-bottom: 1rem;

  label {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  label .categoryIcon {

    filter: drop-shadow(0 0 1px var(--primary-color-darker)) brightness(.5);
    scale: 1;
    transition: scale var(--soft-overshoot) 250ms;
    user-select: none;
  }


  .categoryIcon img {
    object-fit: cover;
  }

  input[type="checkbox"] {
    position: relative;
    appearance: none;
    margin: 0;
  }

  input[type="checkbox"]:focus-visible {
    outline: none;
  }

  input[type="checkbox"]:focus-visible+.categoryIcon {
    filter: drop-shadow(0 0 2px var(--primary-color-darker)) brightness(1);
    scale: 1.2;
  }

  input[type="checkbox"]:checked+.categoryIcon {
    filter: drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 8px var(--primary-color-darker)) brightness(1.1);
  }

}

#info {
  width: 100%;
  text-align: center;
}

.main-content {
  transition: all ease-out 100ms;
  transition-delay: 150ms;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  gap: 1em;
}

.search-input {
  background: rgb(from var(--background-color) r g b / .2);
  color: var(--primary-color);
  border: none;
  border-radius: 4px;
  border-bottom: 2px var(--primary-color) solid;
  width: 6em;
  text-align: center;
  text-overflow: ellipsis;

  outline: none;
  filter: brightness(.7);

  transition: all var(--soft-overshoot) 300ms;
}

.search-input::placeholder {
  opacity: .7;
}

.search-input:focus {
  text-align: start;
  width: 12em;
  filter: brightness(1.0);
}

.search-results-page {
  display: grid;
  column-gap: 2rem;
  row-gap: 3rem;
  justify-content: start;
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
}

.detailed-info-hidden {
  position: fixed;
  display: grid;
  grid-template-rows: 1fr .5fr .5fr;
  grid-template-columns: 40% 1fr;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 3vw);
  background: transparent;

  padding: 8% 10%;
  margin-top: 3vw;
  gap: 1rem 2rem;
  font-style: italic;

  opacity: 0;
  transition: opacity ease-out 100ms;
  pointer-events: none;

  p {
    padding: 0 .5rem;
    margin: 0;
    text-align: justify;
  }

  .drops {
    grid-column: 1 / 3;

    p {
      text-align: center;
    }
  }

  .info-outside {
    position: absolute;
    display: flex;
    gap: 1rem;
    align-items: baseline;
    top: 0;
    transform: translateY(-110%);
    font-style: italic;
    filter: drop-shadow(0 0 2px var(--primary-color-brighter));

    .name {
      font-size: 1.5rem;
    }
  }

}

button#closeDetailedInfo {
  position: absolute;
  gap: .8rem;
  align-items: center;
  bottom: 1vw;
  right: 10vw;
  z-index: 7;
  background: transparent;
  outline: none;
  border: none;
  filter: drop-shadow(0 0 12px var(--primary-color-darker));
  cursor: pointer;
  pointer-events: visibleStroke;
  scale: 1;
  transition: all var(--soft-overshoot) 150ms;

  span {
    font-size: 2vw;
    color: var(--primary-color);
    text-wrap: nowrap;
  }

  svg {
    display: inline-block;
    width: 2vw;
    height: 2vw;
    padding-top: 4px;
    margin-right: 4px;

    stroke: var(--primary-color);
    stroke-width: .16px;
  }
}

button#closeDetailedInfo:hover {
  scale: 1.2;
  filter: drop-shadow(0 0 8px var(--primary-color-brighter));
}

.frameart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 5;
  pointer-events: none;

  img {
    position: absolute;
    width: 100%;
    object-fit: contain;
  }

  img:nth-child(1) {
    top: 0;
  }

  img:nth-child(2) {
    bottom: 0;
  }
}

.detailed-entry {

  width: auto;
  height: 100%;
  aspect-ratio: 1;
  cursor: default !important;

  align-self: auto;
  justify-self: center;
  grid-row: 1 / 3;

  .name-cover img {
    filter: brightness(100%);
  }

  .name {
    opacity: 1;
    transform: none;
  }

  .entry-frame {
    filter: drop-shadow(0 0 8px var(--primary-color-brighter)) saturate(1.2);
  }

  .entry-frame-arrows {
    display: block;
    animation-play-state: paused !important;
  }

}

.detailed-info {
  opacity: 1;
  pointer-events: all;

  .detailed-entry .entry-frame-arrows {
    animation-play-state: running !important;
  }
}

.subtitle {
  display: flex;
  justify-content: stretch;
  align-items: center;

  filter: brightness(1) drop-shadow(0 0 2px var(--primary-color-brighter));
}

.subtitle svg {
  width: 100%;
  height: 24px;
  display: block;
}

.hidden {
  opacity: 0;
  max-height: 50vh;
  overflow-y: clip;
  transition: none !important;
}

.entry {
  aspect-ratio: 1;
  position: relative;

  color: var(--primary-color);
  text-shadow: 0px 0px 4px var(--primary-color-darker);
  transition: filter ease-out 100ms;

}

.entry:hover,
.entry:focus-visible {

  cursor: pointer;
  outline: none;

  .name-cover img {
    filter: brightness(100%);
  }

  .info {
    background-position: bottom;
  }

  .name {
    opacity: 1;
    transform: none;
  }

  .entry-frame {
    filter: drop-shadow(0 0 8px var(--primary-color-brighter)) saturate(1.1);
  }

  .entry-frame-arrows {
    display: block;
    animation-play-state: running;
  }
}

.name-cover {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  img {
    width: 95%;
    height: 95%;
    border-radius: .5rem;
    filter: brightness(90%);
    object-fit: cover;
    transition: filter cubic-bezier(0.785, 0.135, 0.15, 0.86) 200ms;
  }
}

.info {
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  align-items: last baseline;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px 26px;

  background: linear-gradient(transparent 50%, rgb(0, 0, 0, .4) 70%, black 120%);
  background-size: 100% 200%;
  background-position: top;

  transition: all ease-out 200ms;
  overflow: hidden;

}

.name {

  opacity: 1;
  transform: none;
  opacity: 0;
  word-wrap: break-word;
  transform: translateY(100%);
  transition: all ease-out 100ms;
  line-height: 1.4;
  filter: drop-shadow(0 0 5px black);
  overflow: hidden;

}

.entry-frame,
.entry-frame-arrows {
  position: absolute;
  top: 0;
  left: 0;
}

.entry-frame {
  filter: saturate(.4) drop-shadow(0 0 6px var(--primary-color-brighter)) saturate(1.8) brightness(.7);
}

#framePath {
  stroke-width: 0.8px;
  fill: transparent;
  stroke: var(--primary-color);
}

#framePathCorners {
  stroke: transparent;
  fill: var(--primary-color);
}

.entry-frame-arrows {

  display: none;
  animation: 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate scale-arrows;
  animation-play-state: paused;
  stroke: var(--primary-color-brighter);
  fill: var(--primary-color-brighter);
  filter: drop-shadow(0 0 10px var(--primary-color)) brightness(1.1);

}

@keyframes scale-arrows {
  from {
    scale: .99;
    stroke-width: 2.6px;
  }

  to {
    scale: 1.06;
    stroke-width: 3.6px;
  }
}

@media (hover: hover) {

  #categoryFilters label:hover .categoryIcon {
    cursor: pointer;
    filter: drop-shadow(0 0 2px var(--primary-color-darker)) brightness(1);
    scale: 1.4;
  }


  input[type="checkbox"]:before {
    content: attr(value);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--primary-color);
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translate(-50%, 0%) scale(.2);
    opacity: 0;
    transition: all var(--soft-overshoot) 250ms;
  }

  input[type="checkbox"]:hover:before {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@media (hover: none) {

  .info {
    background-position: bottom;
  }

  .name {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 0px) {

  body {
    font-size: 20px;
  }

  .detailed-info-hidden {
    position: absolute;
    display: flex;
    gap: 4rem;
    height: calc(100% - 3vw);
    padding-top: 6rem;
    flex-direction: column;
    align-items: center;
  }

  .detailed-entry {
    width: 50% !important;
  }

  .search-results-page {
    grid-template-columns: repeat(2, 1fr);
  }

  .categoryIcon {
    width: 4rem;
    height: 4rem;
  }

  .entry {
    width: 12rem;
    height: auto;
  }

}

@media (min-width: 768px) {

  body {
    font-size: 30px;
  }

  .search-results-page {
    grid-template-columns: repeat(2, 1fr);
  }

  .entry {
    width: 20rem;
    height: auto;
  }

  .search-form {
    gap: 4rem;
  }

  #categoryFilters {
    gap: 2rem;
  }

  .categoryIcon {
    width: 6rem;
    height: 6rem;
  }

  input[type="checkbox"]:before {
    top: -2rem;
  }

  input[type="checkbox"]:after {
    position: absolute;
    content: "";
    width: calc(100% + 2rem);
    height: 4px;
    left: 50%;
    bottom: -8rem;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    filter: brightness(0.5);
    transition: filter ease-out 100ms;
  }

  input[type="checkbox"]:checked:after {
    filter: brightness(.8) drop-shadow(0 0 2px var(--primary-color));
  }
}

@media (min-width: 1000px) {
  .search-results-page {
    grid-template-columns: repeat(3, 1fr);
  }

  body {
    font-size: 22px;
  }

  .search-form {
    gap: 3rem;
  }

  .entry {
    width: 16rem;
  }

  #categoryFilters {
    gap: 1rem;
  }

  .categoryIcon {
    width: 4rem;
    height: 4rem;
  }

  input[type="checkbox"]:after {
    height: 2px;
    bottom: -5rem;
    width: calc(100% + 1rem);
  }

  input[type="checkbox"]:checked:after {
    filter: brightness(.8) drop-shadow(0 0 8px var(--primary-color));
  }
}

@media (min-width: 1200px) {

  body {
    font-size: 16px;
  }

  .search-form {
    gap: 1rem;
  }

  .search-results-page {
    grid-template-columns: repeat(5, 1fr);
  }

  .detailed-info-hidden {
    display: grid;
    height: calc(100% - 3vw);
    align-items: start;
  }

  .info {
    padding: 8px 12px;
  }

  .entry {
    width: 12rem;
    height: 12rem;
  }

  .detailed-entry {
    width: 90% !important;
    height: auto;
  }

  .categoryIcon {
    width: 2.5rem;
    height: 2.5rem;
  }

  input[type="checkbox"]:after {
    height: 2px;
    bottom: -3.5rem;
    width: calc(100% + 1rem);
  }
}

@media (min-width: 1500px) {
  .search-results-page {
    grid-template-columns: repeat(6, 1fr);
  }

  body {
    margin: 1rem 2rem;
  }

}
