@font-face {
  font-family: "FOT-Rodin Pro DB";
  src: url(./resources/fot-rodin-pro-db.otf);
}

:root {
  --primary-color-brighter: hsl(from var(--primary-color) h calc(s * 1.6) calc(l * 1.1));
  --primary-color: #88d2fa;
  --primary-color-darker: #0060ff;
  --secondary-color: #6c5f32;

  --soft-overshoot: linear(0, 0.402 7.4%, 0.711 15.3%, 0.929 23.7%, 1.008 28.2%, 1.067 33%, 1.099 36.9%, 1.12 41%, 1.13 45.4%, 1.13 50.1%, 1.111 58.5%, 1.019 83.2%, 1.004 91.3%, 1);
}

body {
  font-family: "FOT-Rodin Pro DB";

  --lines-color: #1b4661;
  background-color: #171920;
  /* background-size: 20px 20px; */
  /* background-image: repeating-linear-gradient(to right, var(--lines-color), var(--lines-color) 6px, #171920 1px, #171920); */
  color: var(--primary-color);
  padding: 1rem;
}

h1 {
  text-align: center;
  filter: drop-shadow(0 0 4px var(--primary-color-darker));
}

#searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  gap: 1em;
}

#categoryFilters {

  display: flex;
  /* border-bottom: 1px var(--primary-color-brighter) solid; */
  gap: 1rem;
  padding-bottom: 1rem;

  label {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  label .categoryIcon {

    filter: drop-shadow(0 0 1px var(--primary-color-darker)) brightness(.5);
    scale: 1;
    transition: scale var(--soft-overshoot) 250ms;
    user-select: none;
  }


  .categoryIcon img {
    object-fit: cover;
  }

  input[type="checkbox"] {
    position: relative;
    appearance: none;
    margin: 0;
  }

  input[type="checkbox"]:focus-visible {
    outline: none;
  }

  input[type="checkbox"]:focus-visible+.categoryIcon {
    filter: drop-shadow(0 0 2px var(--primary-color-darker)) brightness(1);
    scale: 1.2;
  }

  input[type="checkbox"]:checked+.categoryIcon {
    filter: drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 8px var(--primary-color-darker)) brightness(1.1);
  }

}

.search-input {
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  border-bottom: 2px var(--primary-color) solid;
  width: 6em;
  text-align: center;
  text-overflow: ellipsis;

  outline: none;
  filter: brightness(.7);

  transition: all var(--soft-overshoot) 300ms;
}

.search-input::placeholder {
  opacity: .5;
}

.search-input:focus {
  text-align: start;
  width: 12em;
  filter: brightness(1.0);
}

#resultsLoading {
  display: none;
}

.search-results-page {
  display: grid;
  column-gap: 2rem;
  row-gap: 3rem;
  justify-content: start;
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
}

.game-card {
  border: 1px red solid;
  text-align: center;
  flex-grow: 1;
  width: 18rem;
  height: 24rem;

  p {
    position: absolute;
    margin: 1rem;
    height: 60%;
    overflow-y: scroll;
  }
}

.entry {
  position: relative;

  color: var(--primary-color);
  text-shadow: 0px 0px 4px var(--primary-color-darker);
  transition: filter ease-out 100ms;

}

.entry:hover,
.entry:focus-visible {

  cursor: pointer;
  outline: none;

  .name-cover img {
    filter: brightness(100%);
  }

  .info {
    background-position: bottom;
  }

  .name {
    opacity: 1;
    transform: none;
  }

  .entry-frame {
    filter: drop-shadow(0 0 8px var(--primary-color-brighter)) saturate(1.2);
  }

  .entry-frame-arrows {
    display: block;
    animation: 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate scale-arrows;
  }
}

.name-cover {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border: 4px solid #284b60; */


  img {
    width: 95%;
    height: 95%;
    border-radius: .5rem;
    filter: brightness(90%);
    object-fit: cover;
    transition: filter cubic-bezier(0.785, 0.135, 0.15, 0.86) 200ms;
  }
}

.info {
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  align-items: last baseline;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px 26px;

  background: linear-gradient(transparent 50%, rgb(0, 0, 0, .4) 70%, black 120%);
  background-size: 100% 200%;
  background-position: top;

  transition: all ease-out 200ms;
  overflow: hidden;

}

.name {

  opacity: 1;
  transform: none;
  opacity: 0;
  word-wrap: break-word;
  transform: translateY(100%);
  transition: all ease-out 100ms;
  line-height: 1.4;
  filter: drop-shadow(0 0 5px black);
  overflow: hidden;

}

h2 {
  margin: 0;
}

.entry-frame,
.entry-frame-arrows {
  position: absolute;
  top: 0;
  left: 0;
}

.entry-frame {
  filter: saturate(.4) drop-shadow(0 0 6px var(--primary-color-brighter)) saturate(2) brightness(.7);
}

#framePath {
  stroke-width: 0.8px;
  fill: transparent;
  stroke: var(--primary-color);
}

#framePathCorners {
  stroke: transparent;
  fill: var(--primary-color);
}

.entry-frame-arrows {

  display: none;
  animation: none;
  stroke: var(--primary-color-brighter);
  fill: var(--primary-color-brighter);
  filter: drop-shadow(0 0 10px var(--primary-color)) brightness(1.1);

}

@keyframes scale-arrows {
  from {
    scale: .99;
    stroke-width: 2.6px;
  }

  to {
    scale: 1.06;
    stroke-width: 3.6px;
  }
}

@media (hover: hover) {

  #categoryFilters label:hover .categoryIcon {
    cursor: pointer;
    filter: drop-shadow(0 0 2px var(--primary-color-darker)) brightness(1);
    scale: 1.4;
  }


  input[type="checkbox"]:before {
    content: attr(value);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--primary-color);
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translate(-50%, 0%) scale(.2);
    opacity: 0;
    transition: all var(--soft-overshoot) 250ms;
  }

  input[type="checkbox"]:hover:before {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@media (hover: none) {

  .info {
    background-position: bottom;
  }

  .name {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {

  .search-results-page {
    grid-template-columns: repeat(2, 1fr);
  }

  .categoryIcon {
    width: 4rem;
    height: 4rem;
  }

  .entry,
  .entry-frame,
  .entry-frame-arrows {
    width: 12rem;
    height: 12rem;
  }
}

@media (min-width: 768px) {

  .search-results-page {
    grid-template-columns: repeat(2, 1fr);
  }

  body {
    font-size: 32px;
  }

  .entry,
  .entry-frame,
  .entry-frame-arrows {
    width: 24rem;
    height: 24rem;
  }

  #searchForm {
    gap: 4rem;
  }

  #categoryFilters {
    gap: 2rem;
  }

  .categoryIcon {
    width: 6rem;
    height: 6rem;
  }

  input[type="checkbox"]:before {
    top: -2rem;
  }

  input[type="checkbox"]:after {
    position: absolute;
    content: "";
    width: calc(100% + 2rem);
    height: 4px;
    left: 50%;
    bottom: -8rem;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    filter: brightness(0.5);
    transition: filter ease-out 100ms;
  }

  input[type="checkbox"]:checked:after {
    filter: brightness(.8) drop-shadow(0 0 2px var(--primary-color));
  }
}

@media (min-width: 1000px) {
  .search-results-page {
    grid-template-columns: repeat(3, 1fr);
  }

  body {
    font-size: 22px;
  }

  #searchForm {
    gap: 3rem;
  }

  .entry,
  .entry-frame,
  .entry-frame-arrows {
    width: 16rem;
    height: 16rem;
  }

  #categoryFilters {
    gap: 1rem;
  }

  .categoryIcon {
    width: 4rem;
    height: 4rem;
  }

  input[type="checkbox"]:after {
    height: 2px;
    bottom: -5rem;
    width: calc(100% + 1rem);
  }

  input[type="checkbox"]:checked:after {
    filter: brightness(.8) drop-shadow(0 0 8px var(--primary-color));
  }
}

@media (min-width: 1200px) {
  .search-results-page {
    grid-template-columns: repeat(5, 1fr);
  }

  body {
    font-size: 16px;
  }

  #searchForm {
    gap: 1rem;
  }

  .info {
    padding: 4px 12px;
  }

  .entry,
  .entry-frame,
  .entry-frame-arrows {
    width: 12rem;
    height: 12rem;
  }

  .categoryIcon {
    width: 2.5rem;
    height: 2.5rem;
  }

  input[type="checkbox"]:after {
    height: 2px;
    bottom: -3.5rem;
    width: calc(100% + 1rem);
  }
}

@media (min-width: 1500px) {
  .search-results-page {
    grid-template-columns: repeat(6, 1fr);
  }

  body {
    margin: 1rem 2rem;
  }

}
